* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
img {
  object-fit: contain;
  border-radius: 3px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  gap: 10px;
}
h1 {
  font-size: 20px;
}

header img {
  width: 50px;
}
h2 {
  font-weight: bold;
}
h3 {
  margin-right: 10px;
  font-weight: bold;
  align-self: center;
}
.container {
  max-width: 600px;
  padding: 0 10px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
}
.detail {
  display: flex;
  gap: 10px;
  padding: 40px 0 20px 0;
  border-bottom: #f8f8f8 2px solid;
}
.detail img {
  width: 80px;
}
.more-information > p {
  color: #909090;
  margin: 15px 0 5px 0;
}
.duration {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
.duration p {
  color: rgb(255, 1, 75);
}
footer {
  text-align: center;
  margin: 50px 0;
}
